
$f: 'Lato', sans-serif;

header {
  font-family:$f;
}

.container {
  margin:25px auto;
	padding:0;
	list-style:none;
	overflow: auto;
	width: 85%;

  img{
    padding-left: 38%;
  }

  h3 {
    text-align: center;
  }
}


h1 {
  text-align: center;
  color: darksalmon;
  font-size: 52px;
  background-image: url(http://i.stack.imgur.com/FqrhS.png);
  background-position: center;
  font-family:$f;
}

body{
  background-color:HSLA(266, 17%, 92%, 1);
}

.inputs{
  padding-left: 45%;
}

footer{
  padding:35px;
  font-size:15px;
  text-align:left;
  color: black;
  text-decoration:none;
  font-family:$f;
  a{
    text-decoration:none;
    color: black;
    font-weight: bold;
    font-family:$f;
  }
}

.answer{
  border: 2px solid black;
}
